snippet { "{:block"
{
	$0
}
endsnippet

snippet [ "[:array"
[
	$0
]
endsnippet

snippet ( "(:args"
(
	$0
)
endsnippet

## Comments
snippet /*
/*
 * ${0}
 */
endsnippet
snippet /**
/*
 * ${0}
 */
endsnippet
